---
import Layout from '../layouts/Layout.astro'
import NsHero from '../components/NsHero.astro'
import ResSection from '../components/ResSection'
import data from '../data/resourse.json'
import type { DataResource } from '../types/Res'
---

<Layout title="Welcome to Astro.">
  <main class="px-0 z-1">
    <NsHero />
    <div class="max-w-[1080px] mx-auto">
      <ResSection list={data} />
    </div>
  </main>
</Layout>
