---
import Layout from '../layouts/Layout.astro'
import NsHero from '../components/NsHero.astro'
import ResSection from '../components/ResSection'
import data from '../data/resourse.json'
import L1Nav from '../components/L1Nav'
import L2Nav from '../components/L2Nav'
---

<Layout title="Nuistshare">
  <main class="px-0 z-1 grid grid-flow-row grid-cols-4">
    <NsHero class="col-span-full" />
    <div class="md:col-span-1 col-span-0 hidden md:block sticky top-[40rem]">
      <L1Nav client:load />
    </div>
    <div class="max-w-[1080px] mx-auto md:col-span-2 col-span-4">
      <ResSection list={data} />
    </div>
    <div class="col-span-1 hidden md:block sticky top-[40rem]">
      <L2Nav client:load />
    </div>
  </main>
</Layout>
