---
---

<section class="w-full h-[60svh] text-center cover pt-[20svh] bg-fit bg-right">
  <div class="blurno">
    <h1 class="text-5xl font-bold py-6 text-shadow-xl">Nuistshare</h1>
    <h4 class="text-2xl py-2">Just a res station</h4>
    <form class="b-1 pt-6">
      <button
        class="transition-all duration-300 px-10 text-white py-2 text-xl bg-[#171717] hover:bg-transparent hover:text-black rounded-[0.5rem] border-2 border-gray-600"
      >
        <a href="/" class="decoration-none">Get Started</a>
      </button>
    </form>
  </div>
</section>

<style>
  .cover {
    background-image: linear-gradient(to top, #f6f6f6a5 0%, #f6f6f6 100%),
      url('bg.png');
    background-size: cover;
  }
</style>
