---
---

<header class="flex flex-row justify-around fixed w-full mt-0">
  <!-- create a title and a search bar -->
  <div class="title">
    <h1><a href="/" class="text-black decoration-none">Nuistshare</a></h1>
  </div>

  <!-- create a search bar -->
  <div class="search">
    <form action="{{ site.baseurl }}/search" method="get">
      <input type="text" name="q" placeholder="Search..." />
    </form>
  </div>
</header>
