---
---

<section class="w-full h-[60svh] text-center cover pt-[20svh] bg-fit bg-center">
  <h1 class="text-5xl">Nuistshare</h1>
  <h4>Just a res station</h4>
  <p>I am hero</p>
  <button class="px-4 py-2 text-xl bg-blue b-0">
    <a href="{{ site.baseurl }}/posts" class="decoration-none text-white"
      >Get Started</a
    >
  </button>
</section>

<style>
  .cover {
    background-image: linear-gradient(to top, #eceaff95 0%, #f6f6f6 100%),
      url('bg.webp');
    background-size: cover;
  }
</style>
